	<div ng-controller="getStartCtrl" class="getStart">
                <div class="row m-60"></div>                        
                <div class="row">    
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-6 col-md-6"><img src="getStart/img/start_logo.png" width="800px" height="156px"></div>
                    <div class="col-lg-4 col-md-4"></div>
                </div>
                <div class="row m-60"></div>                  
                <div class="row">                   
                        <div class=" animated fadeInDown">
                            <div class="col-lg-3 col-md-2"></div>                            
                            <div class="col-lg-3 col-md-4">                    
                                <div class="startbox">
                                    <div class="startbox-title" >中文</div>
                                    <div class="startbox-submit">
                                        <a href="#" ng-click="toCn()" class="btn btn-blue btn-lg btn-block" >开始</a>
                                    </div>  
                                </div> <!-- startbox -->  
                            </div>

                            <div class="col-lg-3 col-md-4">         
                                <div class="startbox">
                                    <div class="startbox-title" >English</div>
                                    <div class="startbox-submit">
                                        <a href="#" ng-click="toEn()" class="btn btn-palegreen btn-lg btn-block" >Start</a>
                                    </div>  
                                </div> <!-- startbox -->
                            </div>   
                            <div class="col-lg-3 col-md-2"></div>                                                               
                        </div><!-- login-container animated fadeInDown -->
                </div><!-- row -->
	</div>